@import url(//fonts.googleapis.com/css?family=Oswald);

/* IMPORTANT NOTE: Do not have changes on addtion-styles.css
 * Please use Gulp and change any .scss files in Styles/scss
=============================================================*/

/**
 * Global variables
 */

@font-face {
	font-family: 'gotham';
	src: url('../fonts/Gotham-Book.otf');
}

@font-face {
	font-family: 'gotham-light';
	src: url('../fonts/Gotham-Light.otf');
}

@font-face {
	font-family: 'gotham-medium';
	src: url('../fonts/Gotham-Medium.otf');
}

*,
body,
input,
button,
select,
textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	outline: none;
}

/**
 * Layout styling
 */

/* ***********ALL PAGES LAYOUT - Start ***********/

#Content {
	padding: 0;
}

#Content .section_wrapper {
	max-width: 1140px;
}

#Content .section_wrapper .wrap.one {
	width: 98%;
}

#Content .section_wrapper .wrap.one .news-ticker-headline {
	width: 110vw;
	height: 25px;
	margin-bottom: 10px;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	color: black;
	background-image: linear-gradient(-180deg, rgba(242, 228, 183, .39) 0%, rgba(254, 221, 80, .39) 100%);
}

#Content .section_wrapper .wrap.one .news-ticker-headline p {
	margin: 0 0 4px;
}

#Content .section_wrapper .wrap.one .news-ticker-headline a {
	color: black;
}

#Content img {
	border: 1px solid #2b8c5f;
}

/* ***********ALL PAGES LAYOUT - End ***********/

/* ***********HOMEPAE STYLES - Start ***********/

.caroufredsel_wrapper .content_slider_ul li a .title {
	position: absolute;
	top: 402px;
	width: 100%;
	max-width: 750px;
	height: 80px;
	padding-top: 15px;
	word-wrap: break-word;
	opacity: .9;
	color: white;
	background: black;
}

.caroufredsel_wrapper .content_slider_ul li a img {
	max-height: 480px !important;
}

.green-title.column {
	margin-bottom: 10px;
}

.green-title .Latest_news {
	width: 100%;
	height: 40px;
	opacity: .89;
	border: 1px solid #107847;
	background-image: linear-gradient(-180deg, #07b764 0%, #107847 100%);
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .5);
}

.green-title .Latest_news .title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	margin-left: 10px;
	color: #fff;
}

.brown-title-text-style,
.brown-title .Latest_news .title,
.section-related-adjustment h4 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 0;
	background: linear-gradient(-180deg, #f60000 0%, #820000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.brown-title.column {
	margin-bottom: 10px;
}

.brown-title .Latest_news {
	width: 100%;
	height: 40px;
}

.brown-title .Latest_news .title {
	margin-bottom: 5px;
}

.column_blog_news .Latest_news:not(.featured) .category-tu-sach-doanh-nhan .photo img {
	max-height: 150px;
}

.column_blog_news .Latest_news:not(.featured) .photo {
	width: 35%;
	border: none !important;
}

.column_blog_news .Latest_news:not(.featured) .desc {
	width: 65% !important;
	margin-left: 35% !important;
}

.column_blog_news .Latest_news:not(.featured) .desc h5 {
	margin: 0;
}

.column_blog_news .Latest_news:not(.featured) .desc h5 a {
	font-size: 14px !important;
}

.column_blog_news .Latest_news:not(.featured) .desc .post-excerpt {
	margin: 0;
}

.column_blog_news .Latest_news.featured .ul-second .photo {
	width: 35%;
	border: none !important;
}

.column_blog_news .Latest_news.featured .ul-second .desc {
	width: 65% !important;
	margin-left: 35% !important;
}

.column_blog_news .Latest_news.featured .ul-second .desc h5 {
	margin: 0;
}

.column_blog_news .Latest_news.featured .ul-second .desc h5 a {
	font-size: 14px !important;
}

.column_blog_news .Latest_news.featured .ul-second .desc .post-excerpt {
	margin: 0;
}

.yba-home-event.green-title .Latest_news .ul-first {
	width: 30%;
}

.yba-home-event.green-title .Latest_news .ul-first .post-excerpt {
	margin: 0 0 5px;
}

.yba-home-event.green-title .Latest_news .ul-first li .desc h4 {
	margin: 0;
}

.yba-home-event.green-title .Latest_news .ul-second {
	width: 68%;
}

.yba-home-event.green-title .Latest_news .ul-second li {
	height: 130px;
	margin: 0 0 10px;
}

.yba-home-event.green-title .Latest_news .ul-second li.has-post-thumbnail .desc {
	padding-left: 18px !important;
}

.yba-home-event.green-title .Latest_news .ul-second .photo {
	width: 190px !important;
	height: 100%;
}

.yba-home-event.green-title .Latest_news .ul-second .desc {
	width: 64% !important;
	margin-left: 38% !important;
}

.yba-home-project .Latest_news ul li {
	margin: 0 0 19px;
}

.homepage-green-title {
	height: 80px;
	margin-bottom: 0;
}

.homepage-green-title .two-third {
	margin-right: 2%;
	margin-left: 0;
}

.no-margin {
	margin: 0;
}

.no-margin p {
	margin: 0;
}

/************Photo Gallery - Start *****************/

.bwg_album_extended_div_0 {
	border-spacing: 0 !important;
	border: none !important;
}

.bwg_album_extended_div_0 .bwg_album_extended_thumb_div_0,
.bwg_album_extended_div_0 .bwg_album_extended_text_div_0 {
	border: none !important;
}

#bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0 {
	margin: 5px !important;
}

div[id^='bwg_container'] a {
	float: left;
	margin: 0 2px 5px 0;
	border-color: #23a468;
}

.mcb-wrap {
	position: static;
}

div[id^='bwg_container'] div[id^='bwg_container'] .bwg_img_clear {
	max-width: 99% !important;
	max-height: 98% !important;
	margin: 0 !important;
	padding: 0 !important;
}

.thu-vien-anh-review {
	margin-top: 0;
}

#gal_front_form_0 {
	margin-left: 15px;
	padding: 0;
}

.bwg_back_0 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	float: right !important;
}

.bwg_lightbox_0 img {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

.bwg_title_spun1_0 {
	width: 100% !important;
	height: 30% !important;
	margin-top: 59%;
	opacity: .7 !important;
	background-color: black !important;
}

/************Photo Gallery - End *****************/

.newsletter #mc4wp-form-1 {
	margin: 0;
}

.newsletter form {
	width: 100%;
	margin: 0;
	padding: 0;
}

.newsletter form .email-input {
	font-size: 14px;
	float: left;
	width: 85% !important;
	margin: 0;
	text-align: center;
}

.newsletter form .btn-subscribe {
	font-size: 14px;
	width: 15% !important;
	margin: 0;
	text-align: center;
	color: white;
	background-color: #07b764;
}

.newsletter form .mc4wp-response {
	position: absolute;
}

/* ***********HOMEPAE STYLES - End ***********/

/**************POST STYLES - Start *************/

.section-post-header .single-photo-wrapper {
	display: none !important;
}

.section-post-header .post-header .title_wrapper .entry-title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 5px;
	letter-spacing: 0;
	background: linear-gradient(-180deg, #f60000 0%, #820000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-post-header .post-nav {
	position: absolute;
	right: 0;
	display: inherit;
	width: auto !important;
}

.has-post-thumbnail img.wp-post-image {
	display: block !important;
}

.section-post-related {
	margin-top: 40px;
}

.section-post-related .post-related .image_frame {
	margin-left: 0;
}

.section-post-related .post-related .image_frame img {
	max-height: 250px;
}

.section-post-related .post-related a.button {
	margin-bottom: 0;
	margin-left: 25%;
}

.section-related-adjustment .desc h4 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0;
	background: black;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hr_color {
	display: none;
}

/**************POST STYLES - End *************/

/* ***********Huy - Giới thiệu YBA Bến Tre - Start ***********/

#static-page-content {
	font-size: 13px;
	margin-top: 0;
	color: #000;
}

em,
i {
	font-style: normal;
	margin-top: 14px;
	text-decoration: underline;
}

/* ***********Huy - Giới thiệu YBA Bến Tre - End ***********/

/* **************ADS STYLES - Start*********/

.ads-image.column,
.ads-image.columns {
	float: left;
	margin: 0 1% -15px;
}

.ads-image img {
	height: 98px !important;
	border: none !important;
}

.ads-image td div:first-child {
	height: 98px !important;
}

/* **************ADS STYLES - End*********/

/*******STATIC PAGE CSS ************************************/

/*************************border for static content in page like contact or about**************************/

/*******main content of static page***************/

#main-static-content .x-container {
	margin-left: 0 !important;
}

#main-static-content .x-container.width {
	width: 100% !important;
}

#main-static-content p {
	margin: 0 0 0 0;
}

.green-page-title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #107847;
}

.last-update-text {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 10px;
	margin-bottom: 15px;
	color: #888;
}

.static-page-content-text {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
}

/*************************** remove comment and dates post box under post ************************/

.desc_footer {
	padding-top: 2px;
}

.desc_footer .icon-comment-empty-fa,
.desc_footer .button-love,
.desc_footer a {
	display: none;
}

/*************************post summary ***************************/

.post-excerpt {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #4a4a4a;
}

/******************post header ***************/

.post-header {
	margin-top: 10px;
}

/*****************************YBA home event blog ******************************/

/* Blog header*/

.column_blog_news .desc a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000 !important;
}

/*****************************YBA home notify css********************************/

.home-slide-notify .content_slider_ul a { /****description of slider****/
}

.home-slide-notify .content_slider_ul a .img {
	width: 100%;
}

.home-slide-notify .content_slider_ul a .desc {
	display: none;
}

.home-slide-notify .content_slider_ul a img {
	max-height: none !important;
}

.content_slider.flat.description {
	padding-bottom: 20px;
}

.content_slider.flat.description ul li { /***** height width of image slider *****/
}

.content_slider.flat.description ul li img {
	width: 100%;
	max-height: 300px;
	margin-bottom: 30px;
}

.notify-header,
.fan-page-header,
.thu-vien-anh-header {
	margin: 0 0 10px 0;
}

/*****Form style css - Start *******/

.wpcf7 {
	padding: 20px;
	padding-bottom: 100px;
	background: #f0f0f0;
}

/*****Form style css - End *******/

/**
 * Header styling
 */

/***********    HUY HEADER - Start ***********/

.header-stack .center {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
}

.header-stack #Top_bar {
	background-image: linear-gradient(-180deg, #149f6d 0%, #107847 100%);
	box-shadow: none !important;
	box-shadow: 0 4px 2px -2px rgba(128, 128, 128, .56);
}

.header-stack #Top_bar .logo {
	margin-bottom: 40px;
	border-bottom-width: 0;
}

.header-stack #Top_bar .logo #logo,
.header-stack #Top_bar .logo .logo-main {
	width: 98px;
	height: 127px;
	margin-left: 100px;
	padding: 0;
}

.header-stack #Top_bar .menu_wrapper {
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	padding-left: calc((100vw - 100%) / 2);
	background-image: linear-gradient(-180deg, #ffea5a 0%, #fcbb35 100%);
}

.header-stack #Top_bar .menu_wrapper #menu {
	padding-left: 20px;
}

.header-stack #Top_bar .menu > li a:after {
	background: #087441 !important;
}

.header-stack #Top_bar .menu > li > a span:not(.description) {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	line-height: 37px;
	padding: 0 30px;
	border: none;
}

.header-stack #Top_bar .menu > .current-menu-item > a,
.header-stack #Top_bar .menu > .current_page_item > a,
.header-stack #Top_bar .menu > .current-menu-parent > a,
.header-stack #Top_bar .menu > .current-page-parent > a,
.header-stack #Top_bar .menu > .current-menu-ancestor > a,
.header-stack #Top_bar .menu > .current-page-ancestor > a,
.header-stack #Top_bar .menu > .hover > a {
	color: #087441 !important;
}

/***********    HUY HEADER - End ***********/

/**
 * Footer styling
 */

/************* HUY FOOTER - Start **********/

/* .column.two-third {
	margin-left: 100px;
} */

.footer-title {
	font-family: Helvetica-Bold;
	font-size: 18px;
	font-weight: bold;
	color: #ffd503;
}

.footer-info,
#Footer #visitor-counter .visitor-counter-content {
	font-family: Helvetica;
	font-size: 14px;
	margin-top: 5px;
	color: #fff;
}

#Footer {
	border: 1px solid #077340;
	background-image: linear-gradient(-180deg, #10ac74 0%, #077340 100%);
}

#Footer h1,
#Footer h2,
#Footer h3,
#Footer h4,
#Footer h5,
#Footer h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

#Footer h1 a,
#Footer h2 a,
#Footer h3 a,
#Footer h4 a,
#Footer h5 a,
#Footer h6 a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

#Footer h1 a:hover,
#Footer h2 a:hover,
#Footer h3 a:hover,
#Footer h4 a:hover,
#Footer h5 a:hover,
#Footer h6 a:hover {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

#Footer #visitor-counter p,
#Footer #visitor-counter .visitor-counter-heading {
	margin: 0;
}

#Footer #visitor-counter .visitor-counter-heading a {
	font-family: Helvetica-Bold !important;
	font-size: 18px;
	font-weight: bold;
	color: #ffd503 !important;
}

#Footer .footer_copy {
	height: 36px;
	border: 1px solid #077340;
	background: #09522f;
}

#Footer .footer_copy .social {
	display: none;
}

#Footer .footer_copy .one {
	height: 35px;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
}

#Footer .footer_copy .copyright {
	font-family: Helvetica;
	font-size: 12px;
	line-height: 35px;
	color: #fff;
}

.textwidget {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/************* HUY FOOTER - End **********/

@media screen and (min-width: 640px) and (max-width: 879px) {

.header-stack .secondary_menu_wrapper {
	position: absolute;
	top: 0 !important;
	left: -15%;
	margin: 0;
	margin-right: -17%;
}

.header-stack .secondary_menu_wrapper img {
	height: 115px !important;
}

.header-stack .logo {
	height: 75px !important;
}

.header-stack .header-stack #Top_bar a.responsive-menu-toggle i {
	font-size: 15px;
	line-height: 20px;
}

.header-stack .header-stack #Top_bar .menu_wrapper {
	height: 40px;
}

}

@media screen and (min-width: 880px) and (max-width: 1024px) {

.header-stack .secondary_menu_wrapper {
	position: absolute;
	top: 0 !important;
	left: -10%;
	margin: 0;
	margin-right: -8%;
}

.header-stack .secondary_menu_wrapper img {
	height: 130px !important;
}

.header-stack .logo {
	height: 90px !important;
}

.header-stack .header-stack #Top_bar a.responsive-menu-toggle i {
	font-size: 18px;
	line-height: 24px;
}

.header-stack .header-stack #Top_bar .menu_wrapper {
	height: 45px;
}

}

@media screen and (min-width: 1025px) and (max-width: 1247px) {

.header-stack .secondary_menu_wrapper {
	position: absolute;
	top: 0 !important;
	left: -16%;
	margin: 0;
	margin-right: -19%;
}

}

@media screen and (min-width: 1248px) and (max-width: 1499px) {

.header-stack .secondary_menu_wrapper {
	position: absolute;
	top: 0 !important;
	left: -14%;
	margin: 0;
	margin-right: -11%;
}

}

@media screen and (min-width: 1500px) and (max-width: 3000px) {

.header-stack .secondary_menu_wrapper {
	position: absolute;
	top: 0 !important;
	left: -15%;
	margin: 0;
	margin-right: -17%;
}

}

@media only screen and (max-width: 767px) {

#Content .section_wrapper .news-ticker-headline {
	width: 110vw !important;
}

#facebook ._2p3a {
	width: 100% !important;
}

.yba-home-event.green-title .Latest_news .ul-first {
	width: 100%;
}

.yba-home-event.green-title .Latest_news .ul-first .post-excerpt {
	margin: 0 0 5px;
}

.yba-home-event.green-title .Latest_news .ul-first li .desc h4 {
	margin: 0;
}

.yba-home-event.green-title .Latest_news .ul-second {
	width: 100%;
}

.yba-home-event.green-title .Latest_news .ul-second li {
	height: 150px;
	margin: 0 0 10px;
}

.yba-home-event.green-title .Latest_news .ul-second li.has-post-thumbnail .desc {
	padding-left: 18px !important;
}

.yba-home-event.green-title .Latest_news .ul-second .photo {
	width: 150px !important;
	height: 100%;
}

.yba-home-event.green-title .Latest_news .ul-second .desc {
	width: 64% !important;
	margin-left: 38% !important;
}

.newsletter form .email-input {
	width: 80% !important;
}

.newsletter form .btn-subscribe {
	width: 20% !important;
}

.header-stack .secondary_menu_wrapper {
	position: absolute;
	top: 0 !important;
	left: -25%;
	display: block !important;
	margin: 0;
	margin-right: -13%;
}

.header-stack .secondary_menu_wrapper img {
	height: 80px !important;
}

.header-stack .logo {
	height: 40px !important;
}

}

@media only screen and (max-width: 441px) {

div[id^='bwg_container'] a {
	float: none;
}

}

