/**
 * Header styling
 */

/***********    HUY HEADER - Start ***********/
.header-stack {
#Top_bar {
  background-image: linear-gradient(-180deg, #149F6D 0%, #107847 100%);
  box-shadow: none !important;


  .logo {
    margin-bottom: 40px;
    border-bottom-width: 0;

    #logo, .logo-main{
      padding: 0px;
      height: 127px;
      width: 98px;
      margin-left: 100px;
    }
  }
  .menu_wrapper{
    width: 100vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    padding-left: calc((100vw - 100%) / 2);
    background-image: linear-gradient(-180deg, #FFEA5A 0%, #FCBB35 100%);
    #menu{
        padding-left: 20px;
    }
  }
  .menu {
    >li {
      a {
        &:after {
          background: #087441 !important;
        }
      }
      >a {
        span {
          &:not(.description) {
            line-height: 37px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 600;
            border: none;
            padding: 0px 30px;
          }
        }
      }
    }
    >.current-menu-item, >.current_page_item, >.current-menu-parent, >.current-page-parent, >.current-menu-ancestor, >.current-page-ancestor, >.hover {
      >a {
        color: #087441 !important;
      }
    }
  }
  box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.56);
}

  .secondary_menu_wrapper {
    //margin-top: 35px;
    position: absolute;
    margin: 0;
    left: -50%;
    margin-right: -50%;
    top: 10px !important;

    #yba-header-title img{
      max-width: 685px;
      max-height: 127px;
    }
  }
  .center {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }
  .green {
    color: #087441;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .red {
    color: #ed1c24;
  }
  #header-title-1 {
    color: #087441;
    font-size: 24px;
    margin-bottom: 5px;
  }
  #header-title-2 {
    color: #087441;
    font-size: 14px;
    margin-bottom: 10px;
  }
  #header-title-3 {
    color: #ed1c24;
    font-size: 24px;
    font-weight: bold;
  }
}
/***********    HUY HEADER - End ***********/

