/**
 * Header styling
 */

/***********    HUY HEADER - Start ***********/
.header-stack {
#Top_bar {
  .logo {
    margin-bottom: 40px;
    border-bottom-width: 0;

    #logo {
      height: 112px;
      width: 84px;
      margin-left: 100px;
    }
  }
  .menu {
    >li {
      a {
        &:after {
          background: #087441 !important;
        }
      }
      >a {
        span {
          &:not(.description) {
            font-family: "Times New Roman", Times, serif;
          }
        }
      }
    }
    >.current-menu-item, >.current_page_item, >.current-menu-parent, >.current-page-parent, >.current-menu-ancestor, >.current-page-ancestor, >.hover {
      >a {
        color: #087441 !important;
      }
    }
  }
  box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.56);
}

  .secondary_menu_wrapper {
    //margin-top: 35px;
    position: absolute;
    margin: 0;
    left: -50%;
    margin-right: -50%;
  }
  .center {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  }
  .green {
    color: #087441;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }
  .red {
    color: #ed1c24;
  }
  #header-title-1 {
    color: #087441;
    font-size: 24px;
    margin-bottom: 5px;
  }
  #header-title-2 {
    color: #087441;
    font-size: 14px;
    margin-bottom: 10px;
  }
  #header-title-3 {
    color: #ed1c24;
    font-size: 24px;
    font-weight: bold;
  }
}
/***********    HUY HEADER - End ***********/

