/**
 * Layout styling
 */

/* ***********ALL PAGES LAYOUT - Start ***********/
#Content {
	padding: 0;

	.section_wrapper {
    max-width: 1140px;

	@media only screen and (max-width: 767px) {
		max-width: calc(100% - 30px)!important;
	}
	    .wrap.one {
	    	width: 98%;

	    	.news-ticker-headline {
	    		width: 110vw !important;
			    margin-left: calc(-1 * ((100vw - 100%) / 2));
			    background-image: linear-gradient(-180deg, rgba(242, 228, 183, 0.39) 0%, rgba(254, 221, 80, 0.39) 100%);
			    color: black;
			    height: 25px;
			    margin-bottom: 10px;

			    p {
			    	margin: 0 0 4px;
			    }

			    a {
			    	color: black;
			    }
	    	}
	    }
	}
	img{
		border: 1px solid #2B8C5F;
	}
}
/* ***********ALL PAGES LAYOUT - End ***********/

/* ***********HOMEPAE STYLES - Start ***********/
.su-kien {
	@media only screen and (max-width: 767px) {
		margin: 0;
	    width: 100%!important;
	    clear: both;
	}
	
	.caroufredsel_wrapper {
		.content_slider_ul {
			li {
				a {
				    height: 460px;
					overflow: overlay;
				    position: relative;
					overflow: hidden;

					.title {
						position: absolute;
					    height: 85px;
					    background: black;
					    opacity: .9;
					    color: white;
					    padding-top: 15px;
					    word-wrap: break-word;
					    width: 96%;
					    line-height: 35px;
					    bottom: 0;
						margin: 0;
						padding: 0 2%;
						@media only screen and (max-width: 479px) {
							line-height: 25px;
						    padding-top: 10px;
						    height: 60px;
						}
					}

					img{
						max-height: 480px !important;
					}
				}

			}
		}
	}
}
.green-title {
	&.column{
		margin-bottom: 10px;
	}
	.Latest_news {
		opacity: 0.89;
		background-image: linear-gradient(-180deg, #07B764 0%, #107847 100%);
		border: 1px solid #107847;
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.50);
		width: 100%;
		height: 40px;
		.title {
			margin-left: 10px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 16px;
			color: #FFFFFF;
			line-height: 40px;
		}
	}
}
.brown-title-text-style{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 40px;
	font-size: 18px;
	background: linear-gradient(-180deg, #F60000 0%, #820000 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight: bold;
	letter-spacing: 0;
}
.brown-title{
	&.column{
		margin-bottom: 10px;
	}
	.Latest_news {
		width: 100%;
		height: 40px;
		.title {
		    margin-bottom: 5px;
		    @extend .brown-title-text-style;
		}
	}
}


.column_blog_news {
	.Latest_news:not(.featured) {
		.category-tu-sach-doanh-nhan{
			.photo img{
				max-height: 150px;
			}
		}
		.photo {
			width: 35%;
			border: none !important;
		}

		.desc {
			margin-left: 35% !important;
	  		width: 65% !important;

			h5 {
				margin: 0;

				a {
					font-size: 14px !important;
				}
			}

			.post-excerpt {
				margin: 0;
			}
		}
	}

	.Latest_news.featured {
		.ul-second {
			.photo {
				width: 35%;
				border: none !important;
			}

			.desc {
				margin-left: 35% !important;
		  		width: 65% !important;

				h5 {
					margin: 0;

					a {
						font-size: 14px !important;
					}
				}			
				
				.post-excerpt {
					margin: 0;
				}
			}
		}
	}
}

.yba-home-event{
	&.green-title {
		.Latest_news {
			.ul-first {
				width: 30%;
	    		
	    		.post-excerpt{
	    			margin: 0px 0 5px;
	    		}
	    		li{
	    			.desc h4 {
    					margin: 0px;
					}
	    		}
			}
			.ul-second {
				width:68%;
				li{
					height: 130px;
	    			margin: 0 0 10px;

					@media only screen and (max-width: 767px) {
		    			height: 150px;
					}

	    			&.has-post-thumbnail .desc {
			    		padding-left: 18px!important;
					}
				}
				.photo{
					width: 190px !important;
					height: 100%;

					@media only screen and (max-width: 767px) {
						width: 130px !important;
					}
				}
				.desc{
				        width: 64% !important;
    					margin-left: 38% !important;
				}
			}
		}
	}
}
.yba-home-project{
	.Latest_news ul li {
	    margin: 0 0 19px;
	}
}
.yba-business-corner{
	
}
.homepage-green-title {
	margin-bottom: 0;
	height: 80px;
	.two-third {
		margin-left: 0;
		margin-right: 2%;
	}
}


.no-margin{
    margin: 0;
	p{
		margin: 0;
	}
}


/************Photo Gallery - Start *****************/
.bwg_album_extended_div_0{
	border:none !important;
	border-spacing: 0px !important;
	.bwg_album_extended_thumb_div_0, .bwg_album_extended_text_div_0{
		border:none !important;
	}
}
#bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0 {
    
    margin: 5px !important;
    
}
div[id^="bwg_container"] a {
    float: left;
    margin: 0 2px 5px 0;
    border-color: #23A468;
}
.mcb-wrap{
	position: static;
}

div[id^="bwg_container"] div[id^="bwg_container"]  .bwg_img_clear {
	max-width: 99% !important;
    max-height: 98% !important;
    padding: 0 !important;
    margin: 0 !important;
}  
.thu-vien-anh-review{
	margin-top: 0px;
}

#gal_front_form_0{
	padding: 0px;
	margin-left: 15px;
}

.bwg_back_0{
	float:right !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.bwg_lightbox_0 img{
	width: 100% !important;
	margin: 0 !important;
	padding :0 !important;
}

.bwg_title_spun1_0{
    margin-top: 59%;
	background-color: black!important;
	opacity: 0.7!important;
	height:30%!important;
	width: 100% !important;
}

/************Photo Gallery - End *****************/

.newsletter {
	#mc4wp-form-1{
		margin : 0;
	}
	form {
		padding: 0;
	    margin: 0;
	    width: 100%;

	    .email-input {
	    	width: 85% !important;
			margin: 0;
			float: left;
	    	font-size: 14px;
			text-align: center;
	    }

	    .btn-subscribe {
	    	font-size: 14px;
		    margin: 0;
		    text-align: center;
		    color: white;
		    width: 15% !important;
			background-color: #07B764;
			//background-size: 100% 100%;
			//background-repeat: no-repeat;
	    }
	    .mc4wp-response {
	    	position: absolute;
	    }
	}
}

.fan-page {
	text-align: center;
  	@media only screen and (min-width: 768px) and (max-width: 1150px) {
		display: none;
	}

	iframe {
		width: 380px;
		border: none;
	}
}


/* ***********HOMEPAE STYLES - End ***********/

/**************POST STYLES - Start *************/

.section-post-header{
	.single-photo-wrapper{
		display:none !important;
	}
	.post-header{
		.title_wrapper{
			.entry-title{
				margin-bottom: 5px;
			
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				line-height: 40px;
				font-size: 20px;
				background: linear-gradient(-180deg, #F60000 0%, #820000 100%);
				-webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
				font-weight: bold;
				letter-spacing: 0;
			}
		}
	}
	.post-nav{
	    position: absolute;
	    width: auto!important;
	    display: inherit;
	    right: 0;
	}

}

.has-post-thumbnail img.wp-post-image {
    display: block !important; 
}

.section-post-related{ 
	margin-top: 40px;
	.post-related{
		.image_frame {
	    	margin-left: 0px;

	    	img{
	    		max-height: 250px;
	    	}
		}	
		 a.button {
	    
	    	margin-bottom: 0;
	    	margin-left: 25%;
		}
	} 
}
.section-related-adjustment {
	h4{
		@extend .brown-title-text-style;

	}
	.desc h4{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 25px;
		font-size: 18px;
		background: black;
		-webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0;
	}
}
.hr_color{
	display:none;
}


/**************POST STYLES - End *************/

/* ***********Huy - Giới thiệu YBA Bến Tre - Start ***********/

#static-page-content {
	margin-top: 0;
	font-size: 13px;
	color: #000000;
}
em, i {
	font-style: normal;
	text-decoration: underline;
	margin-top: 14px;
}
/* ***********Huy - Giới thiệu YBA Bến Tre - End ***********/


/* **************ADS STYLES - Start*********/
.ads-image {
	&.column, &.columns {
    	float: left;
    	margin: 0 1% -15px;
    }
    img{
		height: 98px!important;
		border: none !important;
	}
	td div:first-child { 
	   height: 98px !important;
	}
}


/* **************ADS STYLES - End*********/


/*******STATIC PAGE CSS ************************************/
/*************************border for static content in page like contact or about**************************/
/*******main content of static page***************/

#main-static-content {
	.x-container {
		margin-left: 0px !important;
	}

	.x-container.width {
		width: 100% !important;
	}

	p {
		margin: 0px 0px 0px 0px;
	}
}

.green-page-title {
	font-size: 16px;
	color: #107847;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.last-update-text {
	margin-bottom: 15px;
	font-size: 10px;
	color: #888888;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.static-page-content-text {
	font-size: 12px;
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*************************** remove comment and dates post box under post ************************/
.desc_footer {
	padding-top: 2px;
	.icon-comment-empty-fa, .button-love, a{
		display: none;
	}
}

/*************************post summary ***************************/
.post-excerpt {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #4A4A4A;
}
/******************post header ***************/
.post-header{
	margin-top:10px;
}

/*****************************YBA home event blog ******************************/
/* Blog header*/
.column_blog_news {
	.desc {
		a {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 16px;
			color: #000000 !important;
			font-weight: bold;
		}
	}
}

/*****************************YBA home notify css********************************/
.home-slide-notify {
	.content_slider_ul {
		a {
			.img {
				width: 100%;
			}

			/****description of slider****/
			.desc {
				display: none;
			}

			img {
				max-height: none !important;
			}
		}
	}
}
.content_slider.flat.description {
	padding-bottom: 40px;

	ul {
		li {
			/***** height width of image slider *****/
			img {
				margin-bottom: 30px;
				width: 100%;
				max-height: 300px;
			}
		}
	}
}
.notify-header,
.fan-page-header, 
.thu-vien-anh-header{
	margin: 0px 0px 10px 0px;
}

/*****Form style css - Start *******/
.wpcf7 {
 	background: #f0f0f0;
 	padding: 20px;
	padding-bottom: 100px;
}
@media only screen and (max-width: 441px){
	div[id^='bwg_container'] a {
    	float: none;
	}
	
}

/*****Form style css - End *******/

