/**
 * Layout styling
 */

/* ***********ALL PAGES LAYOUT - Start ***********/
#Content {
	padding: 0;

	.section_wrapper {
    max-width: 1140px;

	@media only screen and (max-width: 767px) {
		max-width: calc(100% - 30px)!important;
	}
	    .wrap.one {
	    	width: 98%;

	    	.news-ticker-headline {
	    		width: 110vw !important;
			    margin-left: calc(-1 * ((100vw - 100%) / 2));
			    background-image: linear-gradient(-180deg, rgba(242, 228, 183, 0.39) 0%, rgba(254, 221, 80, 0.39) 100%);
			    color: black;
			    height: 25px;
			    margin-bottom: 10px;

			    p {
			    	margin: 0 0 4px;
			    }

			    a {
			    	color: black;
			    }
	    	}
	    }

	    .wrap.one-third {    
		    .column.one {
	    		width: 96%;
	    	}
	    }
	}
	img{
		border: 1px solid #2B8C5F;
	}
}
/* ***********ALL PAGES LAYOUT - End ***********/

.fan-page {
	text-align: center;
	overflow: hidden;

	@media screen and (min-width: 426px) and (max-width:768px) {
	    display: none;
	}
}

.fan-page-title {
	@media screen and (min-width: 426px) and (max-width:768px) {
	    display: none;
	}	
}

/* ***********HOMEPAE STYLES - Start ***********/
.home-fan-page{
	@media screen and (min-width: 426px) and (max-width:768px) {
	    display: none;
	}

	.fan-page {
		text-align: center;
		overflow: hidden;
	}
}
.su-kien {
	@media only screen and (max-width: 768px) {
		margin: 0;
	    width: 100%!important;
	    clear: both;
	}
	
	.caroufredsel_wrapper {
		.content_slider_ul {
			li {
				a {
				    height: 460px;
					overflow: overlay;
				    position: relative;
					overflow: hidden;

					.title {
						position: absolute;
					    height: 85px;
					    background: black;
					    opacity: .9;
					    color: white;
					    padding-top: 15px;
					    word-wrap: break-word;
					    width: 96%;
					    line-height: 35px;
					    bottom: 0;
						margin: 0;
						padding: 0 2%;
						@media only screen and (max-width: 479px) {
							line-height: 25px;
						    padding-top: 10px;
						    height: 60px;
						}
					}

					img{
						max-height: 480px !important;
					}
				}

			}
		}
	}
}
.green-title {
	&.column{
		margin-bottom: 10px;
	}
	.Latest_news {
		opacity: 0.89;
		background-image: linear-gradient(-180deg, #07B764 0%, #107847 100%);
		border: 1px solid #107847;
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.50);
		width: 100%;
		height: 40px;
		.title {
			margin-left: 10px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 16px;
			color: #FFFFFF;
			line-height: 40px;
		}
	}
}
.brown-title-text-style{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 25px;
	font-size: 18px;
	background: linear-gradient(-180deg, #F60000 0%, #820000 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight: bold;
	letter-spacing: 0;
}
.brown-title{
	&.column{
		margin-bottom: 10px;
	}
	.Latest_news {
		width: 100%;
		height: 40px;
		.title {
		    margin-bottom: 5px;
		    @extend .brown-title-text-style;
		}
	}
}


.column_blog_news {
	.Latest_news:not(.featured) {
		.category-tu-sach-doanh-nhan{
			.photo img{
				max-height: 150px;
			}
		}
		.photo {
			width: 35%;
			border: none !important;
		}

		.desc {
			margin-left: 35% !important;
	  		width: 65% !important;

			h5 {
				margin: 0;

				a {
					font-size: 14px !important;
				}
			}

			.post-excerpt {
				margin: 0;
			}
		}
	}

	.Latest_news.featured {
		.ul-second {
			.photo {
				width: 35%;
				border: none !important;
			}

			.desc {
				margin-left: 35% !important;
		  		width: 65% !important;

				h5 {
					margin: 0;

					a {
						font-size: 14px !important;
					}
				}			
				
				.post-excerpt {
					margin: 0;
				}
			}
		}
	}
}

.yba-home-event{
	&.green-title {
		.Latest_news {
			.ul-first {
				width: 30%;
	    		
	    		.post-excerpt{
	    			margin: 0px 0 5px;
	    		}
	    		li{
	    			.photo {
	    				border: none;
	    			}
	    			.desc h4 {
    					margin: 0px;
					}
	    		}
			}
			.ul-second {
				width:68%;
				li{
					height: 130px;
	    			margin: 0 0 10px;

					@media only screen and (max-width: 767px) {
		    			height: 150px;
					}

	    			&.has-post-thumbnail .desc {
			    		padding-left: 18px!important;
					}
				}
				.photo{
					//width: 190px !important;
					height: 100%;

					img {
					max-width: 95% !important;
					}

					@media only screen and (max-width: 767px) {
						//width: 130px !important;
					}
				}
				.desc{
				        width: 64% !important;
    					margin-left: 38% !important;
				}

			}
		}
	}
}
.yba-home-project{
	.Latest_news ul li {
	    margin: 0 0 19px;
	}
}
.yba-business-corner{
	
}
.homepage-green-title {
	margin-bottom: 0;
	height: 80px;
	.two-third {
		margin-left: 0;
		margin-right: 2%;
	}
}


.no-margin{
    margin: 0;
	p{
		margin: 0;
	}
}


/************Photo Gallery - Start *****************/
.bwg_album_extended_div_0{
	border:none !important;
	border-spacing: 0px !important;
	.bwg_album_extended_thumb_div_0, .bwg_album_extended_text_div_0{
		border:none !important;
	}
}

div[id^="bwg_container"] a {
    float: left;
    margin: 0 2px 5px 0;
    border-color: #23A468;
    width: 33%;
}
.thu-vien-anh-review div[id^="bwg_container"] a{
	width: 49%;
}
.mcb-wrap{
	position: static;
}

.thu-vien-anh-review div[id^="bwg_container"] div[id^="bwg_container"]  .bwg_img_clear {
	width:100%!important;
	height:100%!important;
    padding: 0 !important;
}  
div[id^="bwg_container"] div[id^="bwg_container"]  .bwg_img_clear {
	max-height:99%!important;
	max-width: 99% !important;
}  
.bwg_album_thumb_spun2_0 img {
	margin-left:-9px!important;	 	 
}
.thu-vien-anh-review{
	margin-top: 0px;
	margin-bottom: 35px;
}

.thu-vien-anh-review .bwg_album_thumb_spun1_0, .bwg_album_thumb_spun2_0{
	@media only screen and (max-width: 767px){
		height: 200px !important;
	}
}
#gal_front_form_0{
	padding: 0px;
}

.bwg_back_0{
	float:right !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.bwg_lightbox_0 img{
	width: 100% !important;
	margin: 0 !important;
	padding :0 !important;
}

.bwg_title_spun1_0{
    margin-top: 47%;
	background-color: black!important;
	opacity: 0.7!important;
	height:30%!important;
	width: 96% !important;
	margin-left:1% !important;
}

.bwg_album_thumb_0{
	width:100% !important;
	img{
		width: 100% !important;
		
	}
}
#bwg_album_compact_0{
	max-width:100% !important;
}
.bwg_album_thumb_spun2_0{
		width:98%!important;
}
.thu-vien-anh-review{ 
	.bwg_album_thumb_spun1_0{
		width:98%!important;
	}
	#bwg_container1_0 #bwg_container2_0 
	{
		.bwg_album_thumb_spun2_0 {
			width:99% !important;
			overflow:initial !important;
			padding: 5px!important;
			margin: 5px !important;
		}
		.bwg_album_thumb_spun1_0:hover{
			opacity:0.5!important;
			transform: initial !important; 
		    -ms-transform: initial !important;
		    -webkit-transform: initial !important;
		    backface-visibility: hidden;
		    -webkit-backface-visibility: hidden;
		    -moz-backface-visibility: hidden;
		    -ms-backface-visibility: hidden;
		}
	}
}
.bwg_album_thumb_spun1_0{
	width:98%!important;
	z-index:102;
	backface-visibility: hidden!important;
    -webkit-backface-visibility: hidden!important;
    -moz-backface-visibility: hidden!important;
    -ms-backface-visibility: hidden!important;
}
/************Photo Gallery - End *****************/

.newsletter {
	form {
		padding: 0;

	    .email-input {
			margin: 0;
			float: left;
	    	font-size: 14px;
			text-align: center;
			max-width: 100%!important;
		    width: 230px !important;
		    border: none;
		    @media only screen and (max-width: 380px){
	    		width: 70% !important;
	    	}
	    }

	    .btn-subscribe {
	    	font-size: 14px;
		    margin: 0;
		    text-align: center;
		    color: white;
			width: 70px !important;
			background-color: #09522f;
		    margin-top: -1px;
		    @media only screen and (max-width: 380px){
	    		width: 30% !important;
	    	}
	    }
	    .mc4wp-response {
	    	position: absolute;
	    }
	}
}


/* ***********HOMEPAE STYLES - End ***********/

/**************POST STYLES - Start *************/

.section-post-header{
	.single-photo-wrapper{
		display:none !important;
	}
	.post-header{
		.title_wrapper{
			.entry-title{
				margin-bottom: 5px;
			
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				line-height: 25px;
				font-size: 20px;
				background: linear-gradient(-180deg, #F60000 0%, #820000 100%);
				-webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
				font-weight: bold;
				letter-spacing: 0;
			}
		}
	}
	.post-nav{
	    position: absolute;
	    width: auto!important;
	    display: inherit;
	    right: 0;
	    @media only screen and (max-width: 767px){
	    	position: relative;
	    }
	}

}

.has-post-thumbnail img.wp-post-image {
    display: block !important; 
}

.section-post-related{ 
	margin-top: 40px;
	.post-related{
		&.column{
			@media only screen and (max-width: 767px){
		    	width:50% !important;
		    	clear:none;
		    }
		    @media only screen and (max-width: 600px){
		    	width:100% !important;
		    	
		    }
	    }
		.image_frame {
	    	margin-left: 0px;

	    	img{
	    		max-height: 250px;
	    	}
		}	
		a{
		    display: table;
	    	margin: 0 auto;
	    	&.button{
	    		margin: 0 auto;
	    	}
		}
		
	} 
}
.section-related-adjustment {
	h4{
		@extend .brown-title-text-style;

	}
	.desc {
		h4{
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			line-height: 25px;
			font-size: 18px;
			background: black;
			-webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
			font-weight: bold;
			text-align: center;
			letter-spacing: 0;
		}
	}
}
.hr_color{
	display:none;
}


/**************POST STYLES - End *************/

/* ***********Huy - Giới thiệu YBA Bến Tre - Start ***********/

#static-page-content {
	margin-top: 0;
	font-size: 13px;
	color: #000000;
}
em, i {
	font-style: normal;
	text-decoration: underline;
	margin-top: 14px;
}
/* ***********Huy - Giới thiệu YBA Bến Tre - End ***********/


/* **************ADS STYLES - Start*********/
.ads-image {
    margin-left: -10px !important;

  	@media only screen and (max-width: 767px){
		margin-left: -20px !important;
	}

	&.column, &.columns {
    	float: left;
    	margin: 0 1% -15px;
    }
    img{
    	padding:10px 0 10px;
		height: 98px!important;
		border: none !important;
	}
	td div:first-child { 
	   height: 120px !important;
	}
}


/* **************ADS STYLES - End*********/


/*******STATIC PAGE CSS ************************************/
/*************************border for static content in page like contact or about**************************/
/*******main content of static page***************/

#main-static-content {
	.x-container {
		margin-left: 0px !important;
	}

	.x-container.width {
		width: 100% !important;
	}

	p {
		margin: 0px 0px 0px 0px;
	}
}

.green-page-title {
	font-size: 16px;
	color: #107847;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.last-update-text {
	margin-bottom: 15px;
	font-size: 10px;
	color: #888888;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.static-page-content-text {
	font-size: 12px;
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*************************** remove comment and dates post box under post ************************/
.desc_footer {
	padding-top: 2px;
	.icon-comment-empty-fa, .button-love, a{
		display: none;
	}
}

/*************************post summary ***************************/
.post-excerpt {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #4A4A4A;
}
/******************post header ***************/
.post-header{
	margin-top:10px;
}

/*****************************YBA home event blog ******************************/
/* Blog header*/
.column_blog_news {
	.desc {
		a {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 16px;
			color: #000000 !important;
			font-weight: bold;
		}
	}
}

/*****************************YBA home notify css********************************/
.home-slide-notify {
	.content_slider_ul {
		a {
			.img {
				width: 100%;
			}

			/****description of slider****/
			.desc {
				display: none;
			}

			img {
				max-height: none !important;
			}
		}
	}
}
.content_slider.flat.description {
	padding-bottom: 40px;

	ul {
		li {
			/***** height width of image slider *****/
			img {
				margin-bottom: 30px;
				width: 100%;
				max-height: 300px;
			}
		}
	}
}
.notify-header,
.fan-page-header, 
.thu-vien-anh-header{
	margin: 0px 0px 10px 0px;
}

/*****Form style css - Start *******/
.wpcf7 {
 	background: #f0f0f0;
 	padding: 20px;
	padding-bottom: 100px;
}
@media only screen and (max-width: 441px){
	div[id^='bwg_container'] a {
    	float: none;
	}
	
}

form, fieldset {
padding: 30px;
}

table th, table td {
padding: 0px;
}

/*****Form style css - End *******/

/************* BETHEME **********/
.yba-home-event .Latest_news.featured .ul-second .desc{
margin-left: 36% !important;
}

.Latest_news ul{
margin-top: -6px;
}

a.button_theme, a.tp-button.button_theme, button, input[type="submit"], input[type="reset"], input[type="button"]{
background-color: #0070ff;
}
/************* BETHEME **********/

/************* CODE FOR BOG (INSTEAD OF BLOG NEWS)*****/

@media screen and (min-width: 768px) and (max-width: 820px) {
.post-desc-wrapper{
	width: 60% !important;
}
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.image_wrapper{
height: 100% !important;
}
}


.post-footer{
display: none;
}

.isotope-item{
border-bottom: solid green ;
border-width: 1px;
padding-bottom: 15px;
margin-top: -10px;
}

.entry-title a{
font-weight: 700;
font-size: 15px;
line-height: 15px;
 letter-spacing: 0;
}

.image_frame{
width: 199px;
border: 0;
}

.image_wrapper{
height: 132px;
}

.image_frame:not(.no_link) .image_wrapper img:not(.ls-l) {
     margin-bottom: 0px!important; 
}

.post-meta .category .cat-btn{
display: none;
}

.author-date .vcard author post-author{
display: none;
}

.vcard.author.post-author{
display: none;
}

.author-date .date .label{
display: none;
}

.post-desc-wrapper .post-desc{
display: table;
}

.post-head{
display: table-row-group;
}

.post-title{
display: table-header-group;
}

.post-desc-wrapper .post-desc .post-title h2{
line-height: 10px;
margin: 0px 5px 5px 5px;
}

.post-desc-wrapper .post-desc .post-head .post-meta{
margin: 1px;
}

.post-desc-wrapper .post-desc{
padding-top: 0px;
}

.blog_wrapper .post-item{
margin-bottom: 20px;
}

.pager_wrapper .pages a.active {
background-color: #289d66;
}

.pager_wrapper .pages a:hover{
background-color: #289d66;
}

.pager_wrapper .next_page{
color: #289d66;
}

.pager_wrapper .prev_page{
color: #289d66;
}

.my-blog-news .image_wrapper {
height: 270px;
}

.my-blog-news .image_wrapper a{
height: 99%;
width: 99%;
}
.image_wrapper a {
max-width: 99%;
}
.image_wrapper .mask{
display:none;
}
.image_wrapper a img{
height: 100% !important;
}

/************* CODE FOR BOG (INSTEAD OF BLOG NEWS)*****/

